# Python
venv/
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Data files 
data/raw/*.csv
data/processed/*.csv
data/raw/*.xlsx
data/processed/*.xlsx
!data/raw/.gitkeep

# Power BI temporary files
*.pbix.*
*.tmp

# IDE
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db